<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/defaultWeb::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">Contact</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active text-white">Contact</li>
        </ol>
    </div>
    <!-- Single Page Header End -->


    <!-- Contact Start -->
    <div class="container-fluid py-5">
        <div class="container col-lg-7">
            <div class="p-5 bg-light rounded">
                <form th:action="@{/user/change-password}" method="post">
                    <div class="form-item w-100 ">
                        <p th:if="${error != null}" th:text="${error}"
                           class="form-label my-3 text-center text-error"></p>
                        <p th:if="${success != null}" th:text="${success}"
                           class="form-label my-3 text-center text-success"></p>
                    </div>
                    <div class="form-item w-100 ">
                        <label class="form-label my-3">Mật khẩu hiện tại</label>
                        <input type="text" class="form-control" name="oldPassword">
                    </div>
                    <div class="form-item w-100 ">
                        <label class="form-label my-3">Mật khẩu mới</label>
                        <input type="text" class="form-control" name="newPassword">
                    </div>
                    <div class="form-item w-100 ">
                        <label class="form-label my-3">Nhập lại mật khẩu mới</label>
                        <input type="text" class="form-control" name="reNewPassword">
                    </div>

                    <div class="form-item w-100 mt-4 text-center">
                        <button class="btn form-control w-50 border-secondary bg-white text-primary "
                                type="submit">Lưu
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>


    <!-- Contact End -->

</section>
</body>
</html>