<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/defaultWebAdmin::layout(~{::section})}">
<head>
    <meta charset="utf-8">
    <title>DASHMIN - Bootstrap Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">


</head>

<body>

<!-- Content Start -->
<section>

    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content ">
                <!-- ============================================================== -->
                <!-- pageheader  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Xem thông tin</h2>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a th:href="@{/admin/invoice/manage-invoice}" class="breadcrumb-link">Hoá đơn đặt hàng</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Chi tiết hoá đơn</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header p-4">
                                <p th:text="${ 'Trạng thái: ' + invoice.status }" class="pt-2 d-inline-block"></p>

                                <div class="float-right">
                                    <h3 th:text="${'Hoá đơn: '+ invoice.id}" class="mb-0"></h3>
                                    <p th:text="${invoice.orderDate}"></p>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row mb-4">

                                    <div class="col-sm-6">
                                        <h5 class="mb-3">Tới:</h5>
                                        <h3 class="text-dark mb-1" th:text="${invoice.user.name}"></h3>
                                        <div th:text="${'Địa chỉ: ' + invoice.address}"></div>
                                        <div th:text="${'Số điện thoại: ' + invoice.user.phoneNumber}"></div>
                                        <div th:text="${'Email: '+ invoice.user.email}"></div>
                                    </div>
                                </div>
                                <div class="table-responsive-sm">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th class="center">STT</th>
                                            <th>Tên</th>
                                            <th>Số lượng</th>
                                            <th class="right">Giá</th>
                                            <th class="center">Đơn vị tính</th>
                                            <th class="right">Tổng tiền</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each=" item, i : ${invoice.invoiceDetails}">
                                            <td th:text="${i.index + 1}" class="center"></td>
                                            <td th:text="${item.product.name}" class="left strong"></td>
                                            <td th:text="${item.quantity}" class="left strong"></td>
                                            <td th:text="${item.price}" class="left"></td>
                                            <td th:text="${item.product.unit}" class="right"></td>
                                            <td th:text="${item.quantity * item.price + 'đ'}" class="center"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-sm-5">
                                    </div>
                                    <div class="col-lg-4 col-sm-5 ml-auto">
                                        <table class="table table-clear">
                                            <tbody>
                                            <tr>
                                                <td class="left">
                                                    <strong class="text-dark">Tạm tính</strong>
                                                </td>
                                                <td th:text="${totalPrice + 'đ'}" class="right"></td>
                                            </tr>
                                            <tr>
                                                <td class="left">
                                                    <strong class="text-dark">Giảm giá (20%)</strong>
                                                </td>
                                                <td class="right">0đ</td>
                                            </tr>
                                            <tr>
                                                <td class="left">
                                                    <strong class="text-dark">VAT (10%)</strong>
                                                </td>
                                                <td class="right">0đ</td>
                                            </tr>
                                            <tr>
                                                <td class="left">
                                                    <strong class="text-dark">Tổng cộng</strong>
                                                </td>
                                                <td class="right">
                                                    <strong th:text="${totalPrice + 'đ'}" class="text-dark"></strong>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
           </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>

</section>

<!-- JavaScript Libraries -->

</body>

</html>