<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/defaultWebAdmin::layout(~{::section})}">
<head>
    <meta charset="utf-8">
    <title>DASHMIN - Bootstrap Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">


</head>

<body>

<!-- Content Start -->
<section>

    <div class="dashboard-wrapper">
        <div class="container-fluid  dashboard-content">
            <!-- ============================================================== -->
            <!-- pageheader -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Cập nhật</h2>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a th:href="@{/admin/permissions/manage-permissions}" class="breadcrumb-link">Danh mục</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Thông tin danh mục</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader -->
            <!-- ============================================================== -->


            <div class="row">
                <!-- ============================================================== -->
                <!-- basic form -->
                <!-- ============================================================== -->
                <div class="col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Chi tiết danh mục</h5>
                        <div class="card-body">
                            <form th:action="@{/admin/categories/save-category}" method="post" id="basicform">
                                <input th:if="${category != null}" type="hidden" name="id" th:value="${category.id}">
                                <div class="form-group">
                                    <label for="inputName">Tên danh mục</label>
                                    <input id="inputName" th:value="${category == null  ? '' : category.name}" type="text" name="name" data-parsley-trigger="change"
                                           required autocomplete="off"
                                           class="form-control">
                                    <div class="text-danger" th:if="${errorName != null}" th:text="${errorName}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputCode">Code</label>
                                    <input id="inputCode" th:value="${category == null  ? '' : category.code}" type="text" name="code" data-parsley-trigger="change"
                                           required autocomplete="off"
                                           class="form-control">
                                    <div class="text-danger" th:if="${errorCode != null}" th:text="${errorCode}">
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-sm-12 pl-0">
                                        <p class="text-right">
                                            <button type="submit" class="btn btn-space btn-primary">Lưu</button>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end basic form -->

            </div>


        </div>

    </div>
    <script>
        // $(document).ready(function() {
        //   $('#summernote').summernote({
        //     height: 300
        //   });
        // });
        document.addEventListener('DOMContentLoaded', function() {
            var summernoteElement = document.getElementById('summernote');
            $(summernoteElement).summernote({
                height: 300
            });
        });

    </script>
</section>

<!-- JavaScript Libraries -->

</body>

</html>