<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/defaultWebAdmin::layout(~{::section})}">
<head>
    <meta charset="utf-8">
    <title>DASHMIN - Bootstrap Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">


</head>

<body>

<!-- Content Start -->
<section>

    <div class="dashboard-wrapper">
        <div class="container-fluid  dashboard-content">
            <!-- ============================================================== -->
            <!-- pageheader -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Quản lý</h2>

                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a th:href="@{/admin/role/manage-role}"
                                                                   class="breadcrumb-link">Sản phẩm</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Thông tin</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader -->
            <!-- ============================================================== -->

            <div class="row">

                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- striped table -->
                <!-- ============================================================== -->
                <div class="col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Danh sách vai trò</h5>
                        <div class="card-body" style="margin-left: 45vh;">
                            <form class="needs-validation" method="get" th:action="@{/admin/role/manage-role}">
                                <div class="form-row">
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
                                        <input type="text" class="form-control" name="value"
                                               placeholder="Tìm kiếm" required>
                                    </div>
                                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
                                        <button class="btn btn-primary" type="submit">Tìm kiếm</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                <tr class="text-center">
                                    <th scope="col" class="col-2">Tên</th>
                                    <th scope="col">Quyền</th>
                                    <th scope="col" class="col-1-10">&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody class="text-center">
                                <tr th:each=" item : ${roles}">
                                    <th th:text="${item.name}" scope="row" class="col-4"></th>
                                    <td class="col-5" th:if="${item.permissions.size() > 0}" >
                                        <form
                                              th:action="@{/admin/role/manage-role-permission}"
                                              method="post">
                                            <input type="hidden" th:value="${item.id}" name="id">

                                            <select id="multi-select-permission"
                                                    class="multi-select-permission"
                                                    name="permissions[]" multiple>
                                                <option th:each=" pe : ${item.permissions} "
                                                        th:value="${pe.id}"
                                                        th:text="${pe.name}"></option>
                                            </select>
                                            <button type="submit" class="btn btn-sm btn-outline-secondary"
                                                    >
                                                <i class="far fa-trash-alt"></i>
                                            </button>
                                        </form>
                                    </td>

                                    <td th:unless="${item.permissions.size() > 0}" class="col-5">&nbsp;</td>
                                    <td class="col-2" >
                                        <form th:id="${'form-confirm-'+item.id}" th:action="@{/admin/role/manage-role}"
                                              method="post">
                                            <input type="hidden" th:value="${item.id}" name="id">
                                            <input type="hidden" value="edit" name="action"
                                                   th:id="${'action-form-confirm-'+item.id}">
                                            <button type="submit" class="btn btn-sm btn-primary">Edit</button>

                                        </form>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end striped table -->
                <!-- ============================================================== -->
            </div>


        </div>

    </div>
</section>

<!-- JavaScript Libraries -->

</body>

</html>