<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/defaultWebAdmin::layout(~{::section})}">
<head>
    <meta charset="utf-8">
    <title>DASHMIN - Bootstrap Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">


</head>

<body>

<!-- Content Start -->
<section>

    <div class="dashboard-wrapper">
        <div class="container-fluid  dashboard-content">
            <!-- ============================================================== -->
            <!-- pageheader -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Quản lý</h2>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a th:href="@{/admin/categories/manage-categories}" class="breadcrumb-link">Danh sách danh mục</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Quản lý</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader -->
            <!-- ============================================================== -->

            <div class="row">

                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- striped table -->
                <!-- ============================================================== -->
                <div class="col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Thông tin danh mục</h5>
                        <div class="card-body">
                            <form class="needs-validation" method="get" th:action="@{/admin/categories/manage-categories}">
                                <div class="form-row">
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                        <select class="form-control" name="type">
                                            <option value="name">Tên</option>
                                            <option value="code">Code</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
                                        <input type="text" class="form-control" name="value"
                                               placeholder="Tìm kiếm" required="">
                                    </div>
                                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
                                        <button class="btn btn-primary" type="submit">Tìm kiếm</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">Tên</th>
                                    <th scope="col">Code</th>
                                    <th scope="col">Số lượng sản phẩm</th>
                                    <th scope="col" class="col-2">&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each=" item : ${categories}">
                                    <th th:text="${item.name}" scope="row"></th>
                                    <td th:text="${item.code}"></td>
                                    <td th:text="${item.products.size()}"></td>
                                    <td>
                                        <form th:id="${'form-confirm-'+item.id}" th:action="@{/admin/categories/manage-categories}" method="post">
                                            <input type="hidden" th:value="${item.id}" name="id">
                                            <input type="hidden" value="edit" name="action" th:id="${'action-form-confirm-'+item.id}">
                                            <button type="submit" class="btn btn-sm btn-primary">Edit</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary" th:onclick="confirmAction([[${item.id}]])">
                                                <i class="far fa-trash-alt"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end striped table -->
                <!-- ============================================================== -->
            </div>


        </div>
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- end footer -->
        <!-- ============================================================== -->
    </div>
    <script  th:inline="javascript">
        function confirmAction(id) {
            let text = "Bạn có muốn xoá?";
            if (confirm(text) === true) {
                document.getElementById('action-form-confirm-'+id).value = 'delete';
                document.getElementById('form-confirm-'+id).submit();
            }
        }
    </script>
</section>

<!-- JavaScript Libraries -->

</body>

</html>