<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/defaultWebAdmin::layout(~{::section})}">
<head>
    <meta charset="utf-8">
    <title>DASHMIN - Bootstrap Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">


</head>

<body>

<!-- Content Start -->
<section>

    <div class="dashboard-wrapper">
        <div class="container-fluid  dashboard-content">
            <!-- ============================================================== -->
            <!-- pageheader -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Quản lý</h2>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a th:href="@{/admin/invoices/manage-invoices}" class="breadcrumb-link">Hoá đơn đặt hàng</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Thông tin hoá đơn</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader -->
            <!-- ============================================================== -->

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
                    <div class="tab-regular">
                        <ul class="nav nav-tabs nav-fill" id="myTab7" role="tablist">
                            <li class="nav-item">
                                <form th:action="@{/admin/invoices/manage-invoices}" method="get">
                                    <input type="hidden" value="WAIT_PROCESS" name="status">
                                    <input th:classappend="${status == null || status.equals('WAIT_PROCESS') ? 'btn-outline-primary' : ''}"
                                           type="submit" value="Chờ xử lý" class="btn btn-primary"/>
                                </form>
                            </li>
                            <li class="nav-item">
                                <form th:action="@{/admin/invoices/manage-invoices}" method="get">
                                    <input type="hidden" value="DELIVERY" name="status">
                                    <input th:classappend="${status != null && status.equals('DELIVERY') ? 'btn-outline-primary' : ''}"
                                           type="submit" value="Vận chuyển" class="btn btn-primary"/>
                                </form>
                            </li>
                            <li class="nav-item">
                                <form th:action="@{/admin/invoices/manage-invoices}" method="get">
                                    <input type="hidden" value="WAIT_SHIPPING" name="status">
                                    <input th:classappend="${status != null && status.equals('WAIT_SHIPPING') ? 'btn-outline-primary' : ''}"
                                           type="submit" value="Giao hàng" class="btn btn-primary"/>
                                </form>
                            </li>
                            <li class="nav-item">
                                <form th:action="@{/admin/invoices/manage-invoices}" method="get">
                                    <input type="hidden" value="FINISH" name="status">
                                    <input th:classappend="${status != null && status.equals('FINISH') ? 'btn-outline-primary' : ''}"
                                           type="submit" value="Hoàn thành" class="btn btn-primary"/>
                                </form>
                            </li>
                            <li class="nav-item">
                                <form th:action="@{/admin/invoices/manage-invoices}" method="get">
                                    <input type="hidden" value="CANCEL" name="status">
                                    <input th:classappend="${status != null && status.equals('CANCEL') ? 'btn-outline-primary' : ''}"
                                           type="submit" value="Huỷ" class="btn btn-primary"/>
                                </form>
                            </li>
                            <li class="nav-item">
                                <form th:action="@{/admin/invoices/manage-invoices}" method="get">
                                    <input type="hidden" value="REFUNDS" name="status">
                                    <input th:classappend="${status != null && status.equals('REFUNDS') ? 'btn-outline-primary' : ''}"
                                           type="submit" value="Hoàn tiền" class="btn btn-primary"/>
                                </form>
                            </li>
                        </ul>
                        <div class="tab-content mt-3">
                            <div class="tab-pane fade show active">
                                <table class="table table-striped">
                                    <thead class="text-center">
                                    <tr>
                                        <th scope="col">Ngày tạo</th>
                                        <th scope="col">Trạng thái</th>
                                        <th scope="col">Ngày cập nhật</th>
                                        <th scope="col" class="col-2">Địa chỉ</th>
                                        <th scope="col">Người đặt</th>
                                        <th scope="col">Số điện thoại</th>
                                        <th scope="col" class="col-2">&nbsp;</th>
<!--                                        <th th:if="${status != 'CANCEL' || status != null}" scope="col" class="col-2">&nbsp;</th>-->
                                    </tr>
                                    </thead>
                                    <tbody class="text-center">
                                    <tr th:each=" item : ${invoices}">
                                        <th th:text="${item.orderDate}" scope="row"></th>
                                        <td th:if="${status != 'FINISH' && status  != 'CANCEL' && status  != 'REFUNDS' }" >
                                            <form th:action="@{/admin/invoices/manage-invoices}" method="post" th:id="${'update-status-invoice-' + item.id}">
                                                <input type="hidden" name="id" th:value="${item.id}">
                                                <select class="form-control" name="status" th:onchange="submitStatusForm([[${item.id}]])">
                                                    <option th:if="${ !item.status.equals('DELIVERY') && !item.status.equals('WAIT_SHIPPING') }"
                                                            th:selected="${ item.status.equals('WAIT_PROCESS') }"
                                                            value="WAIT_PROCESS">Chờ xử lý
                                                    </option>
                                                    <option th:if="${ !item.status.equals('WAIT_SHIPPING')}"
                                                            th:selected="${item.status.equals('DELIVERY')}"
                                                            value="DELIVERY">Đang vận chuyển
                                                    </option>
                                                    <option
                                                            th:selected="${item.status.equals('WAIT_SHIPPING')}"
                                                            value="WAIT_SHIPPING">Đang giao hàng
                                                    </option>
                                                    <option value="CANCEL">Huỷ</option>
                                                </select>
                                            </form>
                                        </td>
                                        <td th:unless="${ status != 'FINISH' && status  != 'CANCEL' && status  != 'REFUNDS' }"
                                            th:text="${item.status}"></td>
                                        <td th:text="${item.updateDate}"></td>
                                        <td th:text="${item.address}"></td>
                                        <td th:text="${item.user.name}"></td>
                                        <td th:text="${item.user.phoneNumber}"></td>
                                        <td th:if="${status != 'CANCEL' || status != null}">
                                            <a th:href="@{'/admin/invoices/show-invoices/' + ${item.id}}" class="btn btn-sm btn-outline-primary">
                                                <i class="fas fa-eye"></i>
                                            </a>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- end footer -->
        <!-- ============================================================== -->
    </div>
    <script th:inline="javascript">
        function submitStatusForm(id){
            let text = "Bạn có muốn cập nhật?";
            if(confirm(text) === true ){
                document.getElementById('update-status-invoice-' + id).submit();
            }
        }
    </script>
</section>

<!-- JavaScript Libraries -->

</body>

</html>